@model SiteMVC.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    if (User.IsInRole("Administrator")) {
        ViewBag.Roles = new List<string>() { "User", "Administrator", "Moderator" }.Select(
                   r => new SelectListItem { Text = r, Value = r });
    }
}

<!--TODO : confirmation pour mail et password + validation + masquage mot de passe-->
<h2>@ViewData["Title"]</h2>
<div>
    <form method="post" asp-action="Register" asp-route-redirectUrl="@ViewBag.RedirectUrl">
        <div>
            <label asp-for="Username">Username</label>
            <input asp-for="Username" />
        </div>
        <div>
            <label asp-for="Email">Email</label>
            <input asp-for="Email" />
        </div>
        <div>
            <label asp-for="Password">Password</label>
            <input asp-for="Password" />
        </div>
        <!--TODO : masquer pour anonymes + mettre default a User-->
        @if (User.IsInRole("Administrator")) {
            <div>
                <label asp-for="RoleName" class="control-label">Role</label>
                <select asp-for="RoleName" class="form-control" asp-items="@ViewBag.Roles"></select>
            </div>
        }
        else {
            <input type="hidden" asp-for="RoleName" value="User" />
        }
        <input type="submit" value="Register" />
    </form>
</div>

