@model SiteMVC.Produit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Produit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixUnitaire" class="control-label"></label>
                <input asp-for="PrixUnitaire" class="form-control" />
                <span asp-validation-for="PrixUnitaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hauteur" class="control-label"></label>
                <input asp-for="Hauteur" class="form-control" />
                <span asp-validation-for="Hauteur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longueur" class="control-label"></label>
                <input asp-for="Longueur" class="form-control" />
                <span asp-validation-for="Longueur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Largeur" class="control-label"></label>
                <input asp-for="Largeur" class="form-control" />
                <span asp-validation-for="Largeur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poids" class="control-label"></label>
                <input asp-for="Poids" class="form-control" />
                <span asp-validation-for="Poids" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacite" class="control-label"></label>
                <input asp-for="Capacite" class="form-control" />
                <span asp-validation-for="Capacite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCouleur" class="control-label"></label>
                <select asp-for="IdCouleur" class="form-control" asp-items="ViewBag.IdCouleur"></select>
                <span asp-validation-for="IdCouleur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFabricant" class="control-label"></label>
                <select asp-for="IdFabricant" class="form-control" asp-items="ViewBag.IdFabricant"></select>
                <span asp-validation-for="IdFabricant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFournisseur" class="control-label"></label>
                <select asp-for="IdFournisseur" class="form-control" asp-items="ViewBag.IdFournisseur"></select>
                <span asp-validation-for="IdFournisseur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategorie" class="control-label"></label>
                <select asp-for="IdCategorie" class="form-control" asp-items="ViewBag.IdCategorie"></select>
                <span asp-validation-for="IdCategorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Statut" /> @Html.DisplayNameFor(model => model.Statut)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
