@model IEnumerable<SiteMVC.Produit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model) {
<div>
    <a asp-action="Details" asp-route-id="@item.Id"><img class="" src="@item.Photo.First().Image" /></a>     @*Classe ?*@
</div>
}



    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
    
@*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
