
@model IEnumerable<SiteMVC.Avis>

<h4>Quelques avis :</h4>


<div class="float-left">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Note
                </th>
                <th>
                    Date
                </th>
                <th>
                    Avis
                </th>
                <th>
                    Client
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contenu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdClientNavigation.Nom)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>